{% extends 'base.html' %}
{% block content %}
<h1 id="title"> Languages that I know </h1>
      <div class="container">

        <div class="gallery">
          <img src="static/images/python.png">
        </div>
        <div class="gallery">
          <img src="static/images/html.png">
        </div>
        <div class="gallery">
          <img src="static/images/css.png">
        </div>
      </div>
      <h1 id = "title">
        Work and Academic Past
      </h1>


    <div class="rontainer">



      <div class="para">
        <img src="static/images/uic.png" align="left" id="one">
        <div>
          <p>

            Welcome I am Math and Computer Science (MCS) Major at the University of Illinois of Chicago (UIC).
            The 2021 fall semester will be my Senior Year. Some Relevant Classes that I have
            taken are MCS 275 Programing Tools, MCS 360 Intro to Data Structure, and MCS 401 Programing tools.<br><br>
          </p>
        </div>
      </div>


      <div class="para">
        <img src="static/images/union.png" id="two" align="left">

        <div>
          <p>
              I worked at the Roberto Clemente Union League Boys and Girls Club from August 2019 to January 2020 as a Activity Specialist.
              Here I would have many responsibilities from ensuring the safety and well being of the club members. Towards the second half of
              my employment I was able to get a small group of students
              to take coding up as a hobby where I would teach them about Python we even got to a point where everyone was able to understand how a calculator built
              through HTML and Python worked.<br><br>
          </p>
        </div>
      </div>

      <div class="para">
        <img src="static/images/whole.png" align="left" id="three">

        <div>
          <p>

            Then I moved onto Whole Foods as a part Time cashier at the Lakeview Location where I worked from January 2020 to January 2021 .
          Here I would end up leaving because of School related reasons and I wanted to also pursue oppurtunities where I would be able to
          gain experience in what I was studying.<br><br>

          </p>
        </div>
      </div>

      <div class="para">
        <img src="static/images/cgw.png" id="four" align="left">
        <div>
          <p id="forth">
            Currently I am working as a Information Technology Intern at CGW Abrasives in Niles,Illinois. Here I am working with a SQL database
            that is used in hand with Microsoft Dynamics 365 NAV. I also assisted with the the rebuilding of a server as the company went through
            a server failure where we had to repoint and rebuild everything to a new server.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}