{% extends 'base.html' %}
{% block content %}
    <h1 id = "title">
        About me
        </h1>

    <div class="home_containter">


        <div class="lang_container">

            <div class="gallery">
              <img src="static/images/python.png">
            </div>

            <div class="gallery">
              <img src="static/images/django.png">
            </div>
            <div class="gallery">
              <img src="static/images/c.png">
            </div>

            <div class="gallery">
              <img src="static/images/html.png">
            </div>
            <div class="gallery">
              <img src="static/images/css.png">
            </div>
        </div>
        <div class="bio">

        Welcome to my Webpage I will graduate from UIC on May,2022 with a major in Math and Computer science.
        While at Uic I found and grew a passion for Computer Science. Some of the courses that most facinated me
        was MCS 260, my first major course and the first course that introduce to the world of CS. <br><br>
            My most recent work experience was at CGW Abrasives as a Information Technology Support Specialist Intern.
            here I helped run the day to day operations and assisted the IT manager in transitioning into a office 365 environment.<br><br>

        Outside of the classroom and work I like to lift weights as I am a advocate for taking care of your body.

        </div>
    </div>
{% endblock content %}