/*  this is for top base.html */

.top_of_page{
    margin-left: auto;
    margin-right:auto;
    text-align: center;
}
#options{
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 100%;

}
ul{

    max-width: 520px;
    min-width: 520px;
    max-height: 30px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
li{
  font-size:19px;
  display: inline-block;
}
a{
  color: #111010;
  text-transform: uppercase;
  text-decoration: none;
  padding: 6px 18px 5px 18px;

  }